* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #ffffff;
    image-orientation: center;
}


.top-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0; /* Espacio entre logo y otros elementos */
}
.top-logo h1{
    font-size: 75px;
    font-weight: bold;
    margin: 0;
}

.top-logo img {
    width: 120px;
    height: auto;
}

.seleccion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; /* Espacio entre los elementos de selección */
    margin: 5rem 0; /* Espacio entre la sección de selección y otros elementos */
}
.seleccion img{
    border-radius: 8%;
}